body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFAEE;
    margin: 0; 
  
}

.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item div {
    display: flex;
    flex-direction: column;
    background-color: #FDFAD9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    
}

.item img {
    width: 95%;
    height: 80%; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    transition: transform 0.2s ease;
    border: 10px solid #FDFAD9;
}

.item img:hover {
    transform: scale(1.08);
}

h1 {
    font-size: 1.8rem;
    margin: 20px 0;
}

p {
    font-size: 1.2rem;
    color: #333;
}

@media only screen and (max-width: 600px) {
    .item {
        display: grid;
        grid-template-columns: 1fr; 
    }

    .item div {
        grid-template-columns: 1fr; 
        display: grid;
       
    }
}
